footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
}

a:link {
    color: black;
}
a:visited{
    color: black;
}

h1 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    border: 6px outset plum;
}

nav {
    text-align: center;
    padding: 15px;
    font-size: 25px;
    background-color: #add8e6;
}

@media only screen and (max-width: 600px) { 
    nav a{width: 100%; display: block;}
    span {display: none;}
    nav a {padding: 10px 0px}
}