footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
}

a:link {
    color: black;
}
a:visited{
    color: black;
}

h1 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    border: 6px outset plum;
}

nav {
    text-align: center;
    padding: 40px;
    font-size: 20px;
    background-color: #add8e6;
}

@media only screen and (max-width: 600px) { 
    nav a{width: 100%; display: block;}
    span {display: none;}
    nav a {padding: 10px 0px;}
    .logo, .navbar {
        float: none;
        clear: both;
    }                          
}
 /* float none and clear both helps in mobile view, makes a list instead of overlap */

.logo {float: left; 
    width: 15%;
 margin-left: 10px;}
.classclear {clear:both; }  