h1 {
    color: #8000ff; 
}

a:link{
    color: #3e3166; 
}

a:visited{
    color: #c9c9ab; 
}


body {
    background-color: #d8bddb; 
}

nav{
    background-color: #75726b ;
    color: #a3a0d9 ;

}

nav a:hover {
    background-color: #a3a1e3;
}

nav {
    padding: 10px;
    margin-bottom: 30px;
}


